body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(207, 207, 243);
}

.main{
    background-color: white;
    padding: 25px;
}



.octa{
    display: flex;
    justify-content: space-between;
}

.log{
    color: blue;
    margin-right: 2rem;

}

.sign{
    background-color: blue;
    color: white;
}


.trading{
    display: flex;
    
}
i{
    color: blue;
    font-size: 1rem;
    
}


a{
    text-decoration: none;
    color: black;
}
.list{
    margin-left: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.trade{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}



h1{
    font-size: 4rem;
    margin-bottom: 0;
}
p{
    font-size: 2rem;
    margin-top: 0;
}


.maintrade{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}

.trade1,.trade2,.trade3{
    padding: 20px;
    background-color: white;
    color: blue;
    margin-bottom: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    border: none;
    font-size: 1.2rem;
}

.trade1:hover{
    background-color: blue;
    color: white;
    box-shadow: 5px 5px 20px black;
}

.trade2:hover{
    background-color: blue;
    color: white;
    box-shadow: 5px 5px 20px black;
}
h3{
    font-size: 2rem;
}

.trade3:hover{
    background-color: blue;
    color: white;
    box-shadow: 5px 5px 20px black;
}



.all{
    background-color: #f4f4f4;
}


.bottom{
    display: flex;
    justify-content: space-around;
    max-width: 60%;
    margin-left: 2rem;
    background-color: white;
    border-radius: 15px;
     
}

.bot1,.bot2,.bot3{
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

.bottom1{
    margin-top: 1rem;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    max-width: 60%;
    margin-left: 2rem;
}

.bot4,.bot5,.bot6{
    padding: 20px;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}


/*the div class that the list falls under*/
.trash{
    position: relative;
    display: inline-block;
}
.list{
    font-weight: bolder;
}

/*The elements that shows when you hover the list*/
.under{
    position: absolute;
    z-index: 1;
    display: none; /*So nothing shows unless we hover*/
}
/*Various div classes under the list*/
.under1,.under2,.under3,.under4{
    background-color: white;
}

/*All the individual links under the list(In the Under1-4)*/
.under a{
    color: rgb(78, 72, 72);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    padding: 10px;
    margin-bottom: 7px;
}
/*What should happen when i hover around the individual links above*/
.under,a:hover{
    color: blue;
}
/*This line helps bring out the hidden display we turned off,so when we hover,we can see it now*/
.trash:hover .under{
    display: flex;
}
/*When i hover around the li-tag what should happen with the word I want a background color 
to show around It*/
.trash:hover .list{
    background-color: rgb(161, 161, 163);
    border-radius: 40px;
    padding-inline: 10px;
    
}


